#master-view {
    height: 100vh;
}

.nav-link {
    color: whitesmoke;
}

.DesktopNav {
    visibility: visible;
    background: #05003a;
}

.FullSite {
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .DesktopNav {
        height: 10vh;
    }
}
