.home {
    background-image: url("../images/mountains.jpg");
    background-size: cover;
    height: 100%;
}

.logo{
    max-width: 30px;
    max-height: 30px;
    margin-right: 7px;
    margin-left: 7px;
}

.logoRow{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 50vh;
}

.profPic{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%)
}

.subHeader{
    position: fixed;
    text-align: center;
    left: 50%;
    top: 63%;
    transform: translate(-50%, 0%);
    font-weight: 500;
    font-size: 2.5vh;
    width: fit-content;
    color: white;
}

.sayHello{
    position: fixed;
    text-align: center;
    left: 50%;
    top: 17%;
    transform: translate(-50%, 0%);
    font-weight: 600;
    font-size: 5vh;
    text-decoration: underline;
    width: fit-content;
    color: white;
}